# Use lower case for the variable names!
# The way jinja2 works forces to do this atm

[global]

hadoop_version = 3.1.0
hive_version = 4.0.0-SNAPSHOT
tez_version = 0.10.0-SNAPSHOT

[core]

[hdfs]

[yarn]

[tez]

[hive]
# hive.root.logger = INFO,console

# To remove a present variable:
# hive.metastore.server.min.threads =

[services]
# Order is important
# The module file will be kerberos.yml, hadoop.yml, ...
services = kerberos,hadoop,yarn,tez,hive
